<footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 copyright">
                        <p>
                            Copyright &copy; <span id="current-year">2022</span> Ignacio Vassallo
                        </p>
                    </div>
                    
                    <div class="col-sm-5 social">
                        <ul>
                            <li>
                                <a href="https://github.com/Vassa94" target="_blank"><i class="fa-brands fa-github"aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://es.stackoverflow.com/users/278904/ignacio-vassallo" target="_blank"><i class="fa-brands fa-stack-overflow" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/vassallo-ignacio/" target="_blank"><i class="fa-brands fa-linkedin-in" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/ignacio.vassallo.54/" target="_blank"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Vassa1994" target="_blank"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
