 <div id="contact">
        <h2>Contacto</h2>
        <div id="contact-form">
            <form action="https://formspree.io/f/xvoypvzn" method="POST">
                <label>
                    <input type="hidden" name="_subject" value="Contact request from personal website" />
                </label>
                <label>
                    <input type="email" name="Responder a" placeholder="Email" required>
                    <textarea  name="Mensaje" placeholder="Mensaje"  required></textarea>
                </label>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>

    <app-footer></app-footer>
