.edicion {
    
    border-radius: 2rem;
    border-width: 2px;
}

.bot {
    float: right;
    position: absolute;
    right: 20px;
    margin-top: 20px;
    list-style-type: none;
    text-align: right;
    z-index: 10;
    
}

.contain {
    display: grid;
    justify-items: center;
    max-width: 1000px;
    margin: auto;
}

.disposicion{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
}

.content{
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;
    height: 490px;
}

.card{
    margin: 10px;
    width: 30vh ; 
    height: 55vh;

}

.content-section{
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;
}

.proyecto {
    margin-top: 35px;
}

.edit{
    display: flex;
    align-self: center;
    margin: auto;
    list-style-type: none;
    padding-left: 37%;
}
