<div id="projects" class="background-alt">
        <h2 class="heading">Proyectos</h2>
        <div class="container" *ngFor="let proyecto of misProyectos" >
            <div class="row">
                <div class="project shadow-large">
                    <div class="project-image">
                        <img [src]="proyecto.image" width="300" height="300"  />
                    </div>
                    
                    <div class="project-info">
                        <h3>{{proyecto.name}}</h3>
                        <p>{{proyecto.description}}</p>
                        <a [href]="proyecto.link" target="_blank">Ver pagina</a>
                    </div>
                </div>
            </div>
        </div>
</div>
