<div id="experience" class="background-alt" cdkDropList (cdkDropListDropped)="drop($event)">
  <h2 class="heading"> Experiencia </h2>

  <!-- Un botón de edición que se mostrará solo si el usuario ha iniciado sesión. -->
  <ul class="botones" *ngIf="loG()">
    <li class="orden">
      <button type="button" class="btn edicion btn-outline-secondary" (click)="add(content)">
        <i class="fa fa-square-plus"></i>
      </button>
    </li>
  </ul>

  <!-- Un bucle que creará un nuevo bloque para cada elemento de la matriz `miExperiencia`. -->
  <div *ngFor="let exp of miExperiencia" 
        id="experience-timeline" 
        
        cdkDrag>
    <div class="vtimeline-point">
      <ul class="botones" *ngIf="loG()">
        <li class="orden">
          <button type="button" class="btn btn-sm btn-link" (click)="edit(content2,exp)">
            <i class="fa fa-pencil-square"></i>
          </button>
        </li>
        <li class="orden">
          <button class="btn btn-link btn-sm" (click)="borrarBloque(exp.id)">
            <i class="fa fa-square-xmark"></i>
          </button>
        </li>
      </ul>
      <div class="vtimeline-icon">
        <i class="fa-solid fa-location-dot"></i>
      </div>
      <div class="vtimeline-block">
        <span class="vtimeline-date">{{exp.fechaInicio}} – {{exp.fechaFin}}</span>
        <div data-date="Diciembre 2012 – Enero 2016" class="vtimeline-content">
          <h3>{{exp.nombre}}</h3>
          <h4>{{exp.titulo}}</h4>
          <p>{{exp.descripcion}}</p>
          <div class="example-handle" cdkDragHandle style="text-align: end;" >
            <svg width="24px" fill="#3498db" viewBox="0 0 24 24" *ngIf="loG()">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Una plantilla para el modal. Add-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title">Sobre Mi</h2>
    <button type="button" class="close edicion" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="expform" (ngSubmit)="agregarBloque()">
      
      <div class="form-group">

        <div class="mb-3">
          <label for="titulo">Titulo</label>
          <div>
            <input  name="titulo" class="form-control" formControlName="titulo"/>
          </div>
        </div>

        <div style="display: flex; justify-content: space-evenly; align-items: center;">
          <div>
            <label for="fechaInicio">Fecha de Inicio</label>
            <div>
              <div class="input-group">
                <select 
                        class="form-select"
                        name="fechaFin" 
                        class="form-control" 
                        formControlName="fechaInicioM">
                  <option hidden selected>Mes</option>
                  <option>Enero</option>
                  <option>Febrero</option>
                  <option>Marzo</option>
                  <option>Abril</option>
                  <option>Mayo</option>
                  <option>Junio</option>
                  <option>Julio</option>
                  <option>Agosto</option>
                  <option>Septiembre</option>
                  <option>Octubre</option>
                  <option>Noviembre</option>
                  <option>Diciembre</option>
                </select>
                <select 
                        class="form-select" 
                        name="fechaFin" 
                        class="form-control" 
                        formControlName="fechaInicioA">
                  <option hidden selected>Año</option>
                  <option>2010</option>
                  <option>2011</option>
                  <option>2012</option>
                  <option>2013</option>
                  <option>2014</option>
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                  <option>2023</option>
                </select>
              </div>
            </div>
          
        </div>

        <div >
          <label for="actual">Es su trabajo actual</label>
          <div style="display: flex; align-items:center ;">
              <input  class="form-check-input"
                      type="checkbox"
                      name="actual" 
                      style="align-items:center ;"
                      color="secondary"
                      formControlName="actual" 
                      id="checkbox"
                      ng-model="checked"
                      >
          </div>
        </div>

        <div  >
          <label for="fechaFin">Fecha de Finalización</label>
          <div class="input-group" formControlName="fechaFin">
           
            
            
            <select 
                    class="form-select" 
                    name="fechaInicio" 
                    class="form-control" 
                    formControlName="fechaFinM"
                    ng-disabled="checked">
              <option hidden selected>Mes</option>
              <option>Enero</option>
              <option>Febrero</option>
              <option>Marzo</option>
              <option>Abril</option>
              <option>Mayo</option>
              <option>Junio</option>
              <option>Julio</option>
              <option>Agosto</option>
              <option>Septiembre</option>
              <option>Octubre</option>
              <option>Noviembre</option>
              <option>Diciembre</option>
            </select>
            <select 
                    class="form-select" 
                    name="fechaInicio" 
                    class="form-control" 
                    formControlName="fechaFinA">
              <option hidden selected>Año</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
            </select>
          
          </div>
        </div>
      </div>
        <div class="mb-3">
          <label for="posicion">Cargo</label>
          <div>
            <input  name="posicion" class="form-control" formControlName="posicion"/>
          </div>
        </div>

        <div class="mb-3">
          <label for="descripcion">Descripción</label>
          <div>
            <textarea ng-disabled="checked" rows="3"  name="descripcion" class="form-control" formControlName="descripcion"></textarea>
          </div>
        </div>

      </div>

      <div class="modal-footer input-group">
        <button type="submit" class="btn btn-success btn-modal" (click)="modal.close('Save click')">
          Guardar cambios
        </button>
      </div>
    </form>

  </div>
</ng-template>

<!--Modal edit-->
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h2 class="modal-title">Sobre Mi</h2>
    <button type="button" class="close edicion" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="expform" (ngSubmit)="actualizarBloque(exp)">
      
      <div class="form-group">

        <div class="mb-3">
          <label for="titulo">Titulo</label>
          <div>
            <input  name="descripcion" class="form-control" formControlName="titulo"/>
          </div>
        </div>

        <div style="display: flex; justify-content: space-evenly; align-items: center;">
          <div>
            <label for="fechaInicio">Fecha de Inicio</label>
            <div>
              <div class="input-group">
                <select 
                        class="form-select"
                        name="fechaFin" 
                        class="form-control" 
                        formControlName="fechaInicioM">
                  <option hidden selected>Mes</option>
                  <option>Enero</option>
                  <option>Febrero</option>
                  <option>Marzo</option>
                  <option>Abril</option>
                  <option>Mayo</option>
                  <option>Junio</option>
                  <option>Julio</option>
                  <option>Agosto</option>
                  <option>Septiembre</option>
                  <option>Octubre</option>
                  <option>Noviembre</option>
                  <option>Diciembre</option>
                </select>
                <select 
                        class="form-select" 
                        name="fechaFin" 
                        class="form-control" 
                        formControlName="fechaInicioA"
                        >
                  <option hidden selected>Año</option>
                  <option>2010</option>
                  <option>2011</option>
                  <option>2012</option>
                  <option>2013</option>
                  <option>2014</option>
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                  <option>2023</option>
                </select>
              </div>
            </div>
          
        </div>

        <div >
          <label for="actual">Es su trabajo actual</label>
          <div style="display: flex; align-items:center ;">
              <input  class="form-check-input"
                      type="checkbox"
                      name="actual" 
                      style="align-items:center ;"
                      color="secondary"
                      formControlName="actual" 
                      id="flexCheckDefault"
                      
                      >
          </div>
        </div>

        <div  >
          <label for="fechaFin">Fecha de Finalización</label>
          <div class="input-group" formControlName="fechaFin" >
           
            
            
            <select 
                    class="form-select" 
                    name="fechaInicio" 
                    class="form-control" 
                    formControlName="fechaFinM"
                    >
              <option hidden selected>Mes</option>
              <option>Enero</option>
              <option>Febrero</option>
              <option>Marzo</option>
              <option>Abril</option>
              <option>Mayo</option>
              <option>Junio</option>
              <option>Julio</option>
              <option>Agosto</option>
              <option>Septiembre</option>
              <option>Octubre</option>
              <option>Noviembre</option>
              <option>Diciembre</option>
            </select>
            <select 
                    class="form-select" 
                    name="fechaInicio" 
                    class="form-control" 
                    formControlName="fechaFinA">
              <option hidden selected>Año</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
            </select>
          
          </div>
        </div>
      </div>
        <div class="mb-3">
          <label for="posicion">Cargo</label>
          <div>
            <input  name="posicion" class="form-control" formControlName="posicion"/>
          </div>
        </div>

        <div class="mb-3">
          <label for="descripcion">Descripción</label>
          <div>
            <textarea rows="3"  name="descripcion" class="form-control" formControlName="descripcion"></textarea>
          </div>
        </div>

      </div>

      <div class="modal-footer input-group">
        <button type="submit" class="btn btn-success btn-modal" (click)="modal.close('Save click')">
          Guardar cambios
        </button>
      </div>
    </form>

  </div>
</ng-template>


<app-educacion></app-educacion>


