<div  
    id="experience" 
    class="background-alt">
        <h2 class="heading">
                Experiencia
        </h2>
            <div 
                *ngFor="let exp of miExperiencia" 
                id="experience-timeline">
                    <div class="vtimeline-point">
                        <div class="vtimeline-icon">
                            <i class="fa fa-map-marker"></i>
                        </div> 
                        <div class="vtimeline-block">
                            <span class="vtimeline-date">{{exp.dates.start}} – {{exp.dates.finish}}</span>
                            <div data-date="Diciembre 2012 – Enero 2016" class="vtimeline-content">
                                <h3>{{exp.name}}</h3>
                                <h4>{{exp.position}}</h4>
                                <p>{{exp.description}}</p>
                            </div>      
                        </div>
                    </div>
        </div>
</div>