<nav>
    <!-- Esta es la barra de navegación. -->
    <div class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../assets/APLogo-20-20.png" alt="logo" width="200">
        </a>

        <!-- El botón que cambia el menú. -->
        <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- El código de la barra de navegación. -->
        <div class="collapse navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
            <!-- Este es el código de la barra de navegación. -->
            <ul class="navbar-nav mr-auto">
                <li routerlinkactive="active" class="nav-item">
                    <a class="nav-link" href="#about">About<span class="sr-only">(current)</span></a>
                </li>
                <li routerlinkactive="active" class="nav-item">
                    <a class="nav-link" href="#experience">Experiencia</a>
                </li>
                <li routerlinkactive="active" class="nav-item">
                    <a class="nav-link" href="#education">Educación</a>
                </li>
                <li routerlinkactive="active" class="nav-item">
                    <a class="nav-link" href="#projects">Projectos</a>
                </li>
                <li routerlinkactive="active" class="nav-item">
                    <a class="nav-link" href="#skills">Habilidades</a>
                </li>
                <li routerlinkactive="active" class="nav-item">
                    <a class="nav-link" href="#contact">Contacto</a>
                </li>
            </ul>

            <!-- El código para el botón de inicio de sesión. -->
            <ul class="nav navbar-nav navbar-right" *ngIf="!loggedIn">
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" routerLink="/login">
                        <i class="fa fa-lock" aria-hidden="true"></i> Login
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="loggedIn">
                <li *ngIf="loggedUser">
                    <a class="nav-link disabled" style="padding-right:10px ;"><i class="fa fa-user" aria-hidden="true"></i>
                        {{loggedUser}}  
                    </a>
                </li>
                <li>
                    <a class="nav-link" (click)="logout()"> Logout
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div style="display:contents z">
    <div class="scrollup">
        <div class="btn btn-primary">
            <a class="nav-link" href="#" >
                <i class="fa-solid fa-angles-up" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>