<div id="skills">
        <h2 class="heading">Habilidades</h2>

        <!--<div class="edicion botones " *ngIf="loG()">
            <div style="background: none;" >
              <button type="button" class="btn edicion btn-outline-secondary" (click)="agregarBloque">
                <i class="fa fa-square-plus"></i>
              </button>
            </div>
        </div>-->

            <ul>        
                <ng-container *ngFor="let skill of skills">
                    <li class="skill card" >
                        <button type="button" class="btn btn-sm btn-link"*ngIf="loG()">
                            <i class="fa fa-pencil-square"></i>
                        </button>
                        {{skill.nombre}}
                        <p><ngb-progressbar type="primary" [showValue]="true" [value]="skill.nivel" [striped]="true"></ngb-progressbar></p>
                        
                    </li>

                </ng-container>
            </ul>
    </div>

<app-contacto></app-contacto>