
<!-- botones de edición que solo se muestran si el usuario ha iniciado sesión. -->
<div class="botones">
      <button  *ngIf="loG()" type="button" class="btn edicion btn-outline-secondary" (click)="edit(content)">
        <i class="fa fa-pencil-square"></i>
      </button>
</div>

<!-- Sección Acerca de mi. -->
<div id="about" >
    <h2 class="heading" style="position: relative;display: inline-block;">Sobre mi</h2>
    <div class="container" >
      <div class="row" >
        <div class="col-md-3" >
          <img *ngIf="miInfo" class="perfil"
            [src]="miInfo.imgUrl"
            alt="Avatar" />
        </div>
        <div *ngIf="miInfo" class="col-md-9" style="padding-top:40px ; padding-left: 20px">
          <p >{{ miInfo.about }}</p>
        </div>
      </div>
    </div>
</div>

<!-- Una plantilla para el modal. -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title">Sobre Mi</h2>
    <button type="button" class="close edicion" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="personaform" (ngSubmit)="saveData()">
      
      <div class="form-group">
        
        <label for="descripcion">Descripcion</label>
        <div>
          <textarea rows="5" name="descripcion" class="form-control" formControlName="descripcion"></textarea>
        </div>
        
        <label for="imagen">Imagen de perfil</label>
        <div>
          <input  name="imgUrl" class="form-control" formControlName="imgUrl"/>
        </div>
      
      </div>

      <div class="modal-footer input-group">
        <button type="submit" class="btn btn-success btn-modal" (click)="modal.close('Save click')">
          Guardar cambios
        </button>
      </div>
    </form>

  </div>
</ng-template>

<app-experiencia></app-experiencia>