<div id="about">
                        <ul class="botones">
                      <li class="orden">
                         <button 
                            type="button" 
                            class="btn edicion btn-outline-secondary"
                            
                            ><i class="fa fa-pencil-square"></i>
                        </button>
                        </li>
                        <li class="orden">
                            <button type="button" class="btn edicion btn-outline-secondary">
                                <i class="fa-solid fa-square-xmark"></i>
                            </button>
                        </li> 
                     </ul>
            
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="heading">Sobre mi</h2>
            </div>
            <div class="col-md-8">
                <p>{{miInfo}}</p>
            </div>

        </div>
    </div>
</div>