.edicion {
	
	border-radius: 2rem;
	border-width: 2px;
}

/*.botones {
	float: right;
	position: relative;
	list-style-type: none;
	text-align: right;
	z-index: 10;
}*/

.orden {
  
  float: left;
  margin-right: 10px;
  padding: 0 4px;
}

.overlay-buttons {
	z-index: 10;

}


#abajo{
	position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 50;
    bottom: 15px;
    color: #fff;
}