<div id="lead">

    <div >
        <ul class="botones">
            <li class="orden">
                <button 
                    type="button" 
                    class="btn edicion btn-outline-secondary" 
                    (click)="openPopup()"><i class="fa fa-pencil-square"></i></button>
            </li>
            <li class="orden">
                <button type="button" class="btn edicion btn-outline-secondary"><i class="fa fa-times"></i></button>
            </li>
        </ul>
    </div>


    <div id="lead-content">
        <h1> {{miPortfolio.name}} </h1>
        <h2> {{miPortfolio.position}} </h2>
        <!--<a href="#" class="btn-rounded-white">Curriculum</a>  ver agregar curriculum-->
    </div>
    <!-- End #lead-content -->

    <div id="lead-overlay"></div>

    <div id="lead-down">
        <span>
            <i class="fa-solid fa-chevron-down" aria-hidden="true">
                <a class="nav-link" href="#experiencia"  ></a>
            </i>
        </span>
    </div>
    <!-- End #lead-down -->
</div>

<!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" [ngStyle]="{'display':displayStyle}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Datos</h4>
      </div>
      <div class="modal-body">
        <textarea name="Nombre"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>