<div id="lead">

    <div class="botones">
        <ul class="botones">
            <li class="orden">
                <button 
                    type="button" 
                    class="btn edicion btn-outline-secondary"
                    (click)="open(content)"
                    ><i class="fa fa-pencil-square"></i></button>
            </li>
            <li class="orden">
                <button [hidden]="isShow" type="button" class="btn edicion btn-outline-secondary" (click)="toggleDisplay()" ><i class="fa-solid fa-eye"></i></button>
            </li> 
        </ul>
    </div>
    


    <div id="lead-content">
        <h1> {{miPortfolio.name}} {{miPortfolio.apellido}} </h1>
        <h2> {{miPortfolio.position}} </h2>
        <!--<a href="#" class="btn-rounded-white">Curriculum</a>  ver agregar curriculum-->
    </div >
    <!-- End #lead-content -->

    <div id="lead-overlay"></div>



    <div id="lead-down">
        <span>
            <i class="fa-solid fa-chevron-down" aria-hidden="true" >
                <a class="nav-link" href="#experiencia"  ></a>
            </i>
        </span>
    </div>
    <!-- End #lead-down -->
</div>



<!-- Modal -->
    <!-- Modal content-->
    <ng-template #content let-modal>
      <div class="modal-header"  >
        <h2 class="modal-title">Datos personales</h2>
        <button 
            type="button" 
            class="close edicion" 
            data-dismiss="modal"
            (click)="modal.dismiss('Cross click')"
            >
                <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group" >
                <label for="firstname">Nombre</label>
                <div>
                    <input placeholder="{{miPortfolio.name}}" id="firstname" class="form-control" >
                </div>
                <label for="firstname">Apellido</label>
                <div>
                    <input placeholder="Apellido" id="firstname" class="form-control" >
                </div>
                <label for="firstname">Titulo</label>
                <div>
                    <input placeholder="Trabajo" id="firstname" class="form-control" >
                </div>
            </div>            
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-modal" (click)="modal.close('Save click')">Guardar cambios</button>
      </div>
    </ng-template>

    <app-sobre-mi></app-sobre-mi>

  